.b-page {
    width:100%;
    margin: 0;
    background-color: #f7f7f7;
    background: url("../img/bg.png");
    font-family: sans-serif;
    font-size: 12px;
}

.b-page__head-line {
    background-color: #7e7e7e;
    height: 5px;
    width: 100%;
}

.b-page__line {
    width: 960px;
    margin: 0 auto;
    margin-top: 27px;
}

.b-head {
    height: 36px;
}

.b-head__logo {
    float: left;
}

.b-head__search {
    float: right;
}

.b-search__input {
    display: inline-block;
}

.b-input {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
}

.b-input__search {
    height: 32px;
    padding: 0 10px;
    width: 135px;
    border-right: none;
}

    .b-button {
        color: #fefefe;
        height: 34px;
        padding: 0 12px;
        padding-top: 2px;
        line-height: 32px;
        cursor: pointer;
        background-color: #29c5e6;
    }

.b-link {
    color: #525252;
    font-size: 12px;
}

.b-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.b-link_menu
{
    text-align:center;
    cursor:pointer;
    font-size:14px;
    height:38px;
    line-height:38px;
    color:#bfbfbf;
    background-color:#f3f3f3;
    border: 1px solid #e7e7e7;
    display:table-cell;
    text-decoration: none;
}

.b-link_menu_active
{
    color:#fefefe;
    background-color:#29c5e6;
    border:1px solid #29c5e6;
}